#root {
    --dark-green: #0f8e77;
    --light-green: #5cf4c3;
    --orange: #f4a049;
}

button {
    border-radius: 8px;
    border: 3px solid transparent;
    padding: 10px 28px;
    margin: 20px 5px 10px 5px;
    font-size: 1em;
    font-weight: 700;
    font-family: inherit;
    color: white;
    background-color: orange;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--orange);
    background-color: white;
    color: var(--orange);
    font-weight: bold;
}
button:focus,
button:focus-visible {
    outline: 8px var(--dark-green);
}

.form-frame {
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 6px;
    padding: 6px;
    background-color: var(--light-green);
    border: 2px solid var(--light-green);
    width: 400px;
}

.title-login {
    font-size: 4em;
    font-weight: bolder;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--light-green);
    border-radius: 20px;
    min-height: 250px;
    min-width: 400px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 4px 8px var(--dark-green), /* Sombra más difuminada */ 0 4px 8px var(--dark-green); /* Sombra más cercana */
}

.alternatives {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 15px;
}
.alternatives button {
    margin: 0px 5px 10px 5px;
}

.alert-button {
    color: yellow;
    background-color: black;
}

.alert-button:hover {
    background-color: yellow;
    color: black;
    border-color: yellow;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
    z-index: 10; /* Asegura que esté sobre otros contenidos */
}

.modal-content {
    background-color: white;
    height: 90px;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--dark-green);
}

.close-button {
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.error-message {
    color: red;
    margin: 10px 0;
    text-align: center;
}
