.mi-perfil-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mi-perfil-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--light-green);
    border-radius: 20px;
    min-height: 250px;
    min-width: 400px;
    padding: 30px;
    align-items: center;
    box-shadow: 0 4px 8px var(--dark-green), /* Sombra más difuminada */ 0 4px 8px var(--dark-green); /* Sombra más cercana */
}

.form-frame {
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 3px 0px 3px 0px;
    padding: 1px;
    background-color: var(--light-green);
    border: 0px solid var(--light-green);
    width: 350px;
}

.form-frame-centro {
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 3px 30px 30px 30px;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
    background-color: white;
    border: 5px solid var(--light-green);

    width: 350px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background: white;
    border: 1px solid black;
    border-radius: 6px;
    z-index: 10;
}

.input-user {
    padding: 15px;
    margin: 5px;
    border: 0px solid var(--light-green);
    border-radius: 4px;
    outline-color: var(--dark-green);
    box-shadow: 0 0 5px var(--light-green);
    width: 90%;
}

.input-user:focus {
    border-color: var(--dark-green);
    box-shadow: 0 0 8px var(--dark-green);
}

.title {
    font-size: x-large;
    margin: 30px 0px 30px 0px;
}

.danger-button:hover {
    background-color: red;
    color: white;
    border-color: red;
}
