.navbar {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navbar a.active {
    font-weight: bold;
    background-color: #4ae0b0;
    border-radius: 12px;
}

.logout-container {
    margin-top: auto;
    margin-bottom: 50px;
}

.logout-container button {
    width: 100%;
}

.danger-button {
    margin: 0px;

    border-radius: 12px;
}

.danger-button:hover {
    background-color: red;
    color: white;
    border-color: red;
}
