:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    line-height: 1.5;
    font-weight: 400;

    color: black;
    background-color: white;

    --dark-green: #0f8e77;
    --light-green: #5cf4c3;
    --orange: #f4a049;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: var(--orange);
    font-weight: bold;
}

body {
    margin: auto;
    justify-content: center;
    align-items: center;
    min-width: 420px;
    min-height: 100vh;
    border: 2px solid black;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
